.vertical{
    position: relative;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: left;
    width: 190px;
    height: 15px;
    left: 202px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.hour{
    height: 15px;
    width: 15px;
    margin-left: 2px;
}
#minMaxTemp_container{
    display: flex;
}
.small-margin-left{
    margin-left: 10px;
}