#search_div{
    margin: 20px;
    display: flex;
}

#search_button{
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 15px;
    width: 10%;
}

#input_zip{
    height: 35px;
    width: 90%;
}

#politicInfoContainer{
    display: flex;
}

#city_community_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lat_lng_container{
    padding: 10px;
}

.flag{
    width: 70px;
    margin: 10px;
    border: 1px solid black;
}

.bold{
    font-weight: bold;
}

.no_results{
    font-style: oblique;
    padding-left: 25px;
}